<div>
    <h1> {{data.[0].[0].name}} </h1>
    <a> -- messages -- </a>
    <p></p>
    {{#each data.[1]}}
        <p> {{this.username}} : {{this.message}}  , {{this.timestamp}} </p>
    {{/each}}

    <form id="send_message" method="POST" action="/room/">
        <label for="message"> message: </label>
        <input type="hidden" name="roomID" id="roomID" value="{{data.[0].roomID}}">
        <input type="text" name="message" id="message">
        <input type="submit" value="send"/>
    </form>
</div>
