
    <div>
        <h1>Account info</h1>
        <p>ID number: #{{data.[0].id}}</p>

        <div>
            <p> account name: {{data.[0].username}}</p>
            <form class="change_username" method="POST" action="/change_username">
              <input type="text" name="username" id="username"/>
              <input type="hidden" name="userID" class="userID" value="{{data.[0].id}}"/>
              <input type="submit" value="change"/>
            </form>
        </div>
        <div>
            <p> account email: {{data.[0].email}}</p>
            <form class="change_email" method="POST" action="/change_email">
              <input type="text" name="email" id="email"/>
              <input type="hidden" name="userID" class="userID" value="{{data.[0].id}}"/>
              <input type="submit" value="change"/>
            </form>
        </div>

        <br>
        <form action="/newaccount">
            <input type="submit" value="Make a new account"/>
        </form>

    </div>
